.vscode/**
.vscode-test/**
src/**
.gitignore
.github/**
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/pg/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver/**
.git/**
yarn.lock
package-lock.json
pattern
tsconfig.tsbuildinfo
webpack.config.js
.eslintrc.json
.vscodeignore
CHANGELOG.md
MARKETPLACE.md
README.md.bak
README.md.tmp
pattern
pat
pat-open-vsx
Makefile
coverage/**
.nyc_output/**
docs/**
.nycrc
index.js
