.vscode/**
.vscode-test/**
src/**
.gitignore
.github/**
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/pg/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver/**
.git/**
yarn.lock
package-lock.json
pattern
tsconfig.tsbuildinfo
webpack.config.js
.eslintrc.json
.vscodeignore
CHANGELOG.md
pattern
pat
